numpy<1.24
wheel
opencv-python
pyrender
pytorch-lightning
scikit-image
smplx==0.1.28
yacs
timm
einops
xtcocotools
pandas
hydra-core
hydra-submitit-launcher
hydra-colorlog
pyrootutils
rich
webdataset
gradio
ultralytics==8.1.34
torch==2.5.0
torchvision==0.20.0
torchaudio==2.5.0
chumpy
pyrealsense2